<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<svelte:window on:resize=handleWindowResize()></svelte:window>

<div ref:container>
	<canvas ref:canvas />
</div>

<div class="overlay">
	{#if loading}
	<h1>
		Chargement en cours...
	</h1>
	{/if}
</div>

<style>
	ref:container {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
	}
	.overlay {
		position: absolute;
		left: 5em;
	}
</style>

<script>
	import {
		AmbientLight,
		AxesHelper,
		Box3,
		BoxGeometry,
		Color,
		DirectionalLight,
		GridHelper,
		Mesh,
		MeshStandardMaterial,
		PerspectiveCamera,
		Plane,
		Scene,
		Vector3,
		WebGLRenderer
	} from "three"
	import { GLTFLoader } from "three/examples/jsm/loaders/GLTFLoader.js"
	import { OrbitControls } from "three/examples/jsm/controls/OrbitControls.js"

	function createCube() {
		const geometry = new BoxGeometry(1, 1, 1)
		const material = new MeshStandardMaterial({ color: "blue" })
		const cube = new Mesh(geometry, material)
		return cube
	}

	function createLights(scene) {
		return [new AmbientLight(), new DirectionalLight()]
	}

	function createControls(camera, renderer) {
		const controls = new OrbitControls(camera, renderer.domElement)
		// controls.autoRotate = true
		controls.enableDamping = true
		controls.screenSpacePanning = true
		return controls
	}

	function createScene() {
		const scene = new Scene()
		scene.background = new Color("black")
		return scene
	}

	function loadModel(url, onLoad) {
		const loader = new GLTFLoader()
		loader.load(url, onLoad, undefined, function onError(error) {
			console.log(error)
		})
	}

	export default {
		data() {
			return {
				loading: false
			}
		},
		oncreate() {
			function animate() {
				requestAnimationFrame(animate)
				renderer.render(scene, camera)
				controls.update()
			}

			const scene = createScene()

			this.createCamera()
			const { camera } = this

			for (const light of createLights(scene)) {
				scene.add(light)
			}

			this.createRenderer()
			const { renderer } = this

			const controls = createControls(camera, renderer)

			this.set({ loading: true })
			loadModel("/models/uterus.glb", gltf => {
				const object = gltf.scene
				const box = new Box3().setFromObject(object)
				box.getCenter(object.position) // this re-sets the object position
				object.position.multiplyScalar(-1)
				scene.add(object)
				renderer.render(scene, camera)
				this.set({ loading: false })
			})

			// Sample cube
			// scene.add(createCube())

			// Helpers
			scene.add(new AxesHelper(2))
			scene.add(new GridHelper(10, 10))

			animate()
		},
		methods: {
			createCamera() {
				const { container } = this.refs
				const aspectRatio = container.clientWidth / container.clientHeight
				const camera = new PerspectiveCamera(75, aspectRatio, 0.1, 1000)
				camera.position.set(0, 1, 10)
				this.camera = camera
			},
			createRenderer() {
				const { canvas, container } = this.refs
				const renderer = new WebGLRenderer({ antialias: true, canvas })
				renderer.setPixelRatio(window.devicePixelRatio)
				renderer.setSize(container.clientWidth, container.clientHeight)
				// See https://threejs.org/docs/#examples/loaders/GLTFLoader
				renderer.gammaOutput = true
				renderer.gammaFactor = 2.2
				this.renderer = renderer
			},
			handleWindowResize() {
				const { camera, renderer } = this
				const { container } = this.refs
				camera.aspect = container.clientWidth / container.clientHeight

				// update the camera's frustum
				camera.updateProjectionMatrix()

				renderer.setSize(container.clientWidth, container.clientHeight)
			}
		}
	}
</script>